/* Hero Section */
.hero {
	margin: 0;
	min-height: 100vh;
	height: 100vh;

	display: flex;
	align-items: flex-end;
	position: relative;
	padding: 120px 0 0px;
	overflow: hidden;
	/* background-color: white; */
}

.hero::before {
	content: '';
	position: absolute;
	top: -50%;
	right: -20%;
	width: 80%;
	height: 150%;
	background: radial-gradient(ellipse at center, rgba(219, 178, 74, 0.08) 0%, transparent 60%);
	pointer-events: none;
}

.hero-grid {
	align-items: end;
	width: 100%;
	max-width: 600px;
}

.hero-visual {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: flex-end;
	/* pushes canvas to bottom */
	justify-content: center;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	/* keeps it middle */
	z-index: 1;
}

/* Ensure the canvas fills its parent */
.hero-visual canvas {
	display: block;
	width: 100% !important;
	height: 80% !important;
	max-width: 940px;
	max-height: 780px;
	object-fit: cover;
}

canvas {
	max-width: 100%;
	/* Ensures it doesn't break your grid on smaller screens */
	height: auto !important;
	border-radius: 12px;
	/* Optional: matches a 'premium' look */
}

.hero-content {
	position: absolute;
	bottom: 60px;
	left: 60px;
	z-index: 10;
	max-width: 500px;
	pointer-events: none;
	text-transform: uppercase;
}

.hero-title {
	font-size: clamp(60px, 6vw, 80px);
	color: var(--text-primary);
	font-weight: 800;
	line-height: 0.731;
}

.hero-title .gold {
	color: var(--orange-light);
}